VITE_SUPABASE_PROJECT_ID="dsbjxfnlduigycomkfbp"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRzYmp4Zm5sZHVpZ3ljb21rZmJwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgxNTA0MjUsImV4cCI6MjA4MzcyNjQyNX0.gBdhbvteiBQ01GJspu8HZJjP8CCM0sIPrSem3ljTttI"
VITE_SUPABASE_URL="https://dsbjxfnlduigycomkfbp.supabase.co"
